.drawing-print-document {
  margin: 0;
  padding: 0;
}

.drawing-layout-print-page {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  break-inside: avoid-page;
  page-break-inside: avoid;
  background: #fff;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;

  & + & {
    break-before: page;
    page-break-before: always;
  }

  .drawing-layout-page {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media print {
  .drawing-layout-print-page {
    margin: 0;
    box-shadow: none;
  }
}
